svg {
    font: 11px sans-serif;
}

.axis, .frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;
}

.axis_PC {
    display: flex;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
    fill: black;
}

.frame {
    fill: none;
    stroke: #aaa;
}

/* circle.hidden {
  fill: #ccc !important;
} */

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.output {
    margin-top: .8vh;
}
